In [10]:
from __future__ import print_function
import pandas as pd
import numpy as np


dataset = pd.read_csv('ilpd.csv')

#Create the column names and load the dataset with it
col_names = ['age', 'sex', 'total_bilirubin', 'direct_bilirubin', 'alkaline', 'alamine',
            'aspartate', 'total_protein', 'albumin', 'A/G Ratio', 'label']

dataset = pd.read_csv('ilpd.csv', header=None, names=col_names)

#Split the dataset into features/attributes and target/label
feature_cols = ['age', 'sex', 'total_bilirubin', 'direct_bilirubin', 'alkaline', 'alamine',
            'aspartate', 'total_protein', 'albumin', 'A/G Ratio']

classification_data = dataset[feature_cols] # Features
classification_label = dataset.label # Target variable

#Create array for each dataset.
dataset_array = dataset.to_numpy()
class_dataset = classification_data.to_numpy()
label_dataset = classification_label.to_numpy()

to_be_splitted = pd.read_csv('ilpd.csv', header=None, names=col_names)
dataset_copy = to_be_splitted.copy()
train_set = dataset_copy.sample(frac=0.60, random_state=0)
test_set = dataset_copy.drop(train_set.index)
train_mean = train_set.mean()
test_mean = test_set.mean()
train_set.fillna(train_mean).round(3) # Decimal values are rounded to 3 decimal places.

,age,sex,total_bilirubin,direct_bilirubin,alkaline,alamine,aspartate,total_protein,albumin,A/G Ratio,label
18,26,Female,0.6,0.2,142.0,12.0,32,5.7,2.4,0.75,1
170,20,Male,1.1,0.5,128.0,20.0,30,3.9,1.9,0.95,2
107,22,Male,0.8,0.2,300.0,57.0,40,7.9,3.8,0.90,2
98,60,Male,19.6,9.5,466.0,46.0,52,6.1,2.0,0.40,1
177,28,Female,1.0,0.3,90.0,18.0,108,6.8,3.1,0.80,2
...,...,...,...,...,...,...,...,...,...,...,...
161,65,Female,0.7,0.2,406.0,24.0,45,7.2,3.5,0.90,2
23,61,Male,0.7,0.2,145.0,53.0,41,5.8,2.7,0.87,1
186,33,Male,1.6,0.5,165.0,15.0,23,7.3,3.5,0.92,2
135,32,Male,0.7,0.2,165.0,31.0,29,6.1,3.0,0.96,2
20,48,Female,1.0,1.4,144.0,18.0,14,8.3,4.2,1.00,1